.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.emptyCart {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.emptyCart__homeLink {
    font-size: 22px;
    text-decoration: none;
    color: #000;
}
.emptyCart__homeLink:hover {
    text-decoration: underline;
}