.container {
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.container__clothesWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 10px;
    flex: 8;
    flex-wrap: wrap;
}