.wrapper, .wrapper_hidden {
    background-color: #fff;
    border-bottom: 1px solid black;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-size: 18px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: .2s;
}
.wrapper_hidden {
    top: -71px;
    transition: .2s;
}
.wrapper__logo {
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}
.wrapper__navigation {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    gap: 40px;
}
.wrapper__navigation__item {
    display: block;
    text-decoration: none;
    color: #000;
}
.wrapper__navigation__userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}
.wrapper__navigation__cartIcon {
    color: #000;
    text-decoration: none;
}